@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis|Playfair+Display|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');

header{
    display: flex;
    height: 80px;
    justify-content: space-around;
    color: white;  
}
    html {
        display: block;
        color: -internal-root-color;
    }
   
body {
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
  
/*header*/


header:hover{
    background: rgb(247, 245, 245);
    width: 100%;
    color: black;
    cursor: pointer;
    
   
   
}
header .navigation{
  display: flex;
  justify-content: space-around;
 
  
   
}
header, .into{
    background-image:url(https://wistia.com/static/images/homepage/wistia-home-pattern_header@2x.webp);
    background-size: 150px 130px;
    
   
}
header .navigation .bouton-to-start{
    display: flex;
    justify-content:flex-end;
    padding-left: 278px;
}
.parties .bar-product a{
    color: white;
}
header:hover .parties .bar-product a{
    color: black;
}
.parties .bar-learning a{
    color: white;
}
header:hover .parties .bar-learning a{
    color: black;
    cursor: pointer;
}
.parties .bar-series a{
    color: white;
}
header:hover .parties .bar-series a{
    color: black;
}
.parties .bar-about a{
    color: white;
}
header:hover .parties .bar-about a{
    color: black;
}
header  .btn-log{
    width: 99px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-left: 38px;
        font-weight: bold;

      
    }
    header  .btn-start{
        width: 99px;
        display: flex;
        justify-content: center;
        font-size: 13px;
        margin-left: 38px;
        background-color: rgb(23, 154, 235);
        color: white;
        font-weight: bold;
  
    }
 .btn-log{
   margin-top: 20px;
    background-color:#ebe6e6 ;
    color: rgb(7, 7, 7);
    width: 60px;
    height: 20px;
    border-radius: 5px;
  
   padding: 10px;
    
}

.btn-start:hover{
    position: relative;
    bottom: 5px;
    border-bottom:4px solid rgb(131, 195, 235);
    cursor: pointer;
}
.btn-log:hover{
    position: relative;
    bottom: 5px;
    border-bottom:4px solid rgb(162, 164, 165);
    border-left: 1px solid rgb(184, 187, 189);
    border-right: 1px solid rgb(184, 187, 189);
    border-top: 1px solid rgb(184, 187, 189);
    cursor: pointer;
}
 .btn-start{
    margin-top: 20px;
    background-color:#fcf8f9 ;
    color: rgb(7, 7, 7);
    width: 60px;
    height: 20px;
    border-radius: 5px;
    margin-right: 16px;
  padding: 10px;
  
}

header:hover .navigation .logo-blue{
    z-index: 1;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
     width: 37px;
     height: 36px;
    
  
}

header .navigation .logo-gris{
    margin-right: -141px;
    padding-right: -113px;
    margin-top: 12px;
    width: 42px;
    height: 36px;
    height: 36px;
    width: 36px;
    z-index: 1;
 }
header .navigation .logo-blue{
    margin-right: -141px;
    padding-right: -113px;
    margin-top: 12px;
    width: 42px;
    height: 36px;
    height: 36px;
    width: 36px;
    z-index: 1;
 }
header .navigation img{
   padding-right: 100px;
   margin-top: 15px;
    width: 37px;
    height: 36px;
    z-index: -1;    
}

header .navigation .parties{
    display: flex;
    justify-content: space-around;
   width: 500px;
    padding-top:20px ;
    padding-left: 20px;      
    
}


/* header product*/

.navigation .bar-product .dropbtn{
    text-decoration: none;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}
.navigation .bar-product:hover .dropbtn {
    text-decoration: none;
    width: 100%;
    color: rgb(10, 145, 246);
    cursor: pointer;
  }
.navigation .bar-product .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-top:1px solid rgb(197, 197, 197) ;
    margin-top: 41px;
    left: -216px;
    padding-left: 291px;
    box-shadow: none;
    padding-right: 1100px;

  } 
  .navigation .bar-product:hover .dropdown-content 
{
 display: flex;
}
 
.navigation .bar-product .dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style:none ;
    display: block;
    width: 170px;
  }
.navigation .bar-product {
    position: relative;
    display: inline-block;
    width: 66px;     

}
  .navigation .bar-product .dropdown-content .product {
    color: rgb(10, 145, 236);
    font-size: 30px;
    font-weight: bold;
}
.navigation .bar-product .dropdown-content .about-product {
    color: rgb(153, 151, 151);
    font-size: 13px;
    line-height: 25px;
    padding-bottom: 20px;
    font-weight: bold;
    
}
  .navigation .bar-product .dropdown-content .start-btn {
    border: 1px solid rgb(10, 145, 236);
    background-color:rgb(10, 145, 236);
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}
.navigation .bar-product .dropdown-content .start-btn:hover{
    position: relative;
    cursor: pointer;
    bottom: 5px;
    border-bottom: 3px solid rgb(41, 164, 247);

}
.navigation .bar-product .dropdown-content .feature a{
    color: rgb(80, 79, 79);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;

  }
  .navigation .bar-product .dropdown-content .feature a:hover{
    color: rgb(10, 145, 236);
    cursor: pointer;
  }
  
  .navigation .bar-product .dropdown-content .create{
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
}
.navigation .bar-product .dropdown-content .create a{
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
   
}

.navigation .bar-product .dropdown-content .create a:hover{
    color: rgb(23, 24, 24);
    cursor: pointer;
}

.navigation .bar-product .dropdown-content .present{
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
}
.navigation .bar-product .dropdown-content .present a{
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
   
}
.navigation .bar-product .dropdown-content .present a:hover{
    color: rgb(23, 24, 24);
    cursor: pointer;
}

/* header learning center*/
.navigation .bar-learning .dropbtn{
    text-decoration: none;

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}
  
.navigation .bar-learning .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-top:1px solid rgb(197, 197, 197) ;
    margin-top: 41px;
    left: -773px;
    padding-left: 675px;
    
    padding-right: 1100px;
  }
  .navigation .bar-learning:hover .dropdown-content 
  {
   display: flex;
   cursor: pointer;
 }
  .navigation .bar-learning:hover .dropbtn {
    text-decoration: none;
    width: 100%;
    color: rgb(58, 177, 106);
    cursor: pointer;
  }
  .navigation .bar-learning .dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style:none ;
    display: block;
    width: 150px;
  }
  .navigation .bar-learning {
    position: relative;
    display: inline-block;
    width: 135px;
    padding-left: 26px;
   
  }
  .navigation .bar-learning .dropdown-content .learning {
    color: rgb(58, 177, 106);
    font-size: 20px;
    font-weight: bold;

}
.navigation .bar-learning .dropdown-content .about-learning {
    color: rgb(153, 151, 151);
    font-size: 11px;
    line-height: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    
}
.navigation .bar-learning .dropdown-content .subscribe-btn {
    border: 1px solid rgb(58, 177, 106);
    background-color:rgb(58, 177, 106);
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}
.navigation .bar-learning .dropdown-content .subscribe-btn:hover{
    position: relative;
    cursor: pointer;
    bottom: 5px;
    border-bottom: 3px solid rgb(97, 240, 154);

}
.navigation .bar-learning .dropdown-content .blog a{
    color: rgb(80, 79, 79);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;

  }
  .navigation .bar-learning .dropdown-content .blog a:hover{
    color: rgb(58, 177, 106);
    cursor: pointer;
  }
  .navigation .bar-learning .dropdown-content .blog-categories{
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
}
.navigation .bar-learning .dropdown-content .blog-categories a{
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
   
}

.navigation .bar-learning .dropdown-content .blog-categories a:hover{
    color: rgb(23, 24, 24);
    cursor: pointer;
}
  .navigation .bar-learning .dropdown-content .about-marketing .image {
    width: 100px;
    height: 133px;
    margin-top: -1px;
    z-index: 1;
  }

.navigation .bar-learning .dropdown-content .about-marketing .marketing-ridge{
   display: inline-block;

}
.navigation .bar-learning .dropdown-content .about-marketing .marketing-ridge h3{
   font-size: 12px;
   color:rgb(80, 79, 79);
 }
 .navigation .bar-learning .dropdown-content .about-marketing .marketing-ridge p{
    font-size: 12px;
    line-height: 20px;
   
    color: rgb(153, 151, 151);
    font-family:'Times New Roman', Times, serif;

     
  }
.navigation .bar-learning .dropdown-content .about-marketing{
    border: 1px solid rgb(221, 220, 220);
    padding-bottom: 26px;
    height: 105px;
    width: 412px;
    border-left: none;
    margin-top: 6px;
    padding-top: -11px;
    display: flex;
}


  /* header video series*/
  

.navigation .bar-series .dropbtn{
    text-decoration: none;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

  .navigation .bar-series .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-top:1px solid rgb(197, 197, 197) ;
    margin-top: 41px;
    left: -959px;
    padding-left: 510px;
    box-shadow: none;
    padding-right: 1100px;
  }
  .navigation .bar-series:hover .dropdown-content 
 {
  display: flex;
  cursor: pointer;
}
.navigation .bar-series:hover .dropbtn {
    text-decoration: none;
    width: 100%;
    color: rgb(6, 34, 194);
    cursor: pointer;
  }
.navigation .bar-series .dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style:none ;
    display: block;
    width:400px;
}
.navigation .bar-series {
    position: relative;
    display: inline-block;
    width: 166px;
    margin-right: -74px;
    
  }
  .navigation .bar-series .dropdown-content .series {
    color: rgb(6, 34, 194);
    font-size: 22px;
    font-weight: bold;
 
}

.navigation .bar-series .dropdown-content .about-series{
    color: rgb(153, 151, 151);
    font-size: 11px;
    line-height: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    
}
.navigation .bar-series .dropdown-content .view-all-btn {
    border: 1px solid rgb(6, 34, 194);
    background-color:rgb(6, 34, 194);
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}
.navigation .bar-series .dropdown-content .view-all-btn:hover{
    position: relative;
    cursor: pointer;
    bottom: 5px;
    border-bottom: 3px solid rgb(31, 59, 221);

}
.navigation .bar-series .dropdown-content .about-brandwgon{
    border: 1px solid rgb(221, 220, 220);
    padding-bottom: 26px;
    height: 149px;
    width: 389px;
    border-left: none;
    margin-top: 6px;
    padding-top: -11px;
    display: flex;
}
.navigation .bar-series .dropdown-content .about-brandwgon .brandwgon{
    display: inline-block;
 
 }
 .navigation .bar-series .dropdown-content .about-brandwgon .brandwgon h3{
    font-size: 12px;
    color:rgb(80, 79, 79);
  }
  .navigation .bar-series .dropdown-content .about-brandwgon .brandwgon p{
     font-size: 12px;
     line-height: 20px;
    
     color: rgb(153, 151, 151);
     font-family:'Times New Roman', Times, serif;
 
      
   }
  .navigation .bar-series .dropdown-content .about-brandwgon  .image{
    width: 117px;
    height: 177px;
    margin-top: -1px;
    z-index: 1;
}
.navigation .bar-series .dropdown-content .production-series{
    border: 1px solid rgb(221, 220, 220);
    padding-bottom: 26px;
    height: 149px;
    width: 389px;
    border-left: none;
    margin-top: 6px;
    padding-top: -11px;
    display: flex;
}
.navigation .bar-series .dropdown-content .production-series .about-production{
    display: inline-block;
 
 }
 .navigation .bar-series .dropdown-content .production-series .about-production h3{
    font-size: 12px;
    color:rgb(80, 79, 79);
  }
  .navigation .bar-series .dropdown-content .production-series .about-production p{
    font-size: 12px;
    line-height: 20px;
   
    color: rgb(153, 151, 151);
    font-family:'Times New Roman', Times, serif;

     
  }
  .navigation .bar-series .dropdown-content .production-series  .image{
    width: 117px;
    height: 177px;
    margin-top: -1px;
    z-index: 1;
}


  /* header about*/
  .navigation .bar-about .dropbtn{
    text-decoration: none;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

  .navigation .bar-about .dropdown-content {
    display: none;
    color: black;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-top:1px solid rgb(197, 197, 197) ;
    margin-top: 41px;
    left: -1081px;
    padding-left: 961px;
    box-shadow: none;
    padding-right: 1100px;

  }
.navigation .bar-about:hover .dropdown-content 
 {
  display: flex;
  cursor: pointer;


}
.navigation .bar-about:hover .dropbtn {
    color: #DB2861;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
  }

  .navigation .bar-about .dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style:none ;
    display: block;
    width: 300px;
  }
.navigation .bar-about {
    position: relative;
    display: inline-block;
    width: 166px;
    margin-right: -74px;
   
    
  }
  .navigation .bar-about .dropdown-content .about {
    color: rgb(219, 40, 97);
    font-size: 30px;
    font-weight: bold;
}
.navigation .bar-about .dropdown-content .more-about {
    color: rgb(153, 151, 151);
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 20px;
    font-weight: bold;
    
}
  .navigation .bar-about .dropdown-content .jobs-btn {
    border: 1px solid rgb(219, 40, 97);
    background-color:rgb(219, 40, 97);
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}
.navigation .bar-about .dropdown-content .jobs-btn:hover{
    position: relative;
    bottom: 5px;
    border-bottom: 3px solid rgb(226, 89, 133);
    cursor: pointer;

}
   
.navigation .bar-about .dropdown-content .company a{
        color: rgb(80, 79, 79);
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        line-height: 25px;
    
}
.navigation .bar-about .dropdown-content .company a:hover{
        color: rgb(219, 40, 97);
        cursor: pointer;
}

/* section 1 introduction brand video*/


.into .soft span{
    border: 1px solid #DB2861;
    background-color: #DB2861;
    color: white;
    padding: 17px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
  
}
.into .soft span:hover{
    position: relative;
    bottom: 5px;
    border-bottom: 3px solid rgb(70, 69, 70);
    cursor: pointer;

}
.into{
    display: flex;
    justify-content: space-around;
    padding-bottom: 150px;
    padding-top: 50px;
}
.into .soft{
   
    width: 450px;
   flex-wrap: wrap;
   margin-left: 200px;
   margin-top: 100px;
  
}
.into .soft h1{
   font-size: 40px;
   flex-wrap: wrap;
   font-family: ' Playfair Display Oswald', sans-serif;
   color: white;
   font-weight: 500;
   line-height: 50px;

 }
.into .soft p{
    font-size: 21px;
    font-weight: 400;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    padding-bottom: 40px;
    
    color: rgb(255, 255, 255);
    line-height: 30px;
     
 }

.into video{
    width: 400px;
    height: 400px;
    margin-right: 150px;
 
}

.into  img {
  
    width: 476px;
    height: 433px;
    z-index: 0;
    position: absolute;
    margin-left: 295px;
}

/* section brand */

.brand{
    display: flex;
    justify-content: center;
    height: 280px;
    padding-bottom: 50px;
    padding-top: 60px;
    
    }

.brand .info h1
    {
       padding-bottom:40px;
       padding-top:40px ;
       font-family: 'Playfair Display', serif;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 24px;
       font-weight: 700;
       color: rgb(42, 45, 53);
     }
    .brand .info .btn-learn
{    
    border: 1px solid #3EA9F5;
    background-color: white;
    color: #3EA9F5;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 369px;
     
}

.brand .info .btn-learn:hover{
    position: relative;
    bottom: 5px;
    border-bottom: 5px solid rgb(62, 169, 245);
    cursor: pointer;

}

/*section categories*/

 .categories{
    display: flex;
    justify-content: center;
    padding-bottom: 34px;
    height: 379px;
             
}

.categories .quality-experience{
    padding-bottom:10px ;
    width: 300px;
   flex-wrap: wrap;
   margin-left: 20px;
  

}
.categories .quality-experience i{
  color: #1d0752;
  font-size: 35px;
  margin-left: 20px;

}
.categories .quality-experience h1{
    
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    font-weight:bold;
    flex-wrap: wrap;
    margin-left: 20px;
}

.categories .quality-experience p{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 20px;
    font-weight: 400;
    line-height: 28px;

}
.categories .viewers{
    padding-bottom:10px ;
    width: 300px;
   flex-wrap: wrap;
   margin-left: 15px;
}
.categories .viewers i{
   color: rgb(243, 57, 119);
   font-size: 35px;
   margin-left: 20px;
}
.categories .viewers h1{
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    font-weight:bold;
    flex-wrap: wrap;
    margin-left: 20px;
}
.categories .viewers p{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 20px;
    font-weight: 400;
    line-height: 28px;
   
}
.categories .audience{
    padding-bottom:10px ;
    width: 300px;
   flex-wrap: wrap;
   margin-left: 15px;
 
}
.categories .audience i{
    color: rgb(11, 66, 5);
    font-size: 35px;
    margin-left: 20px;
}
.categories .audience h1{
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    font-weight:bold;
    flex-wrap: wrap;
    margin-left: 20px;
}
.categories .audience p{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 20px;
    font-weight: 400;
    line-height: 28px;
   
}
.categories .fans-coming{
    padding-bottom:10px ;
    width: 300px;
   flex-wrap: wrap;
   margin-left: 15px;
  
}
.categories .fans-coming i{
    color: rgb(212, 92, 44);
    font-size: 35px;
    margin-left: 20px;
}
.categories .fans-coming h1{
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    font-weight:bold;
    flex-wrap: wrap;
    margin-left: 20px;
}
.categories .fans-coming p{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 20px;
    font-weight: 400;
    line-height: 28px;
   
}
/*section wistia studia*/

.studio{
    display: flex;
    justify-content: center;
    background-color:#363945;
    color: rgb(255, 255, 255);
    padding-bottom: 199px;
    padding-top:196px;
   
   
 }
.studio .about
{   width: 350px;
    flex-wrap: wrap;
  
    padding-right:20px ;  
}
.studio .about p
{
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    flex-wrap: wrap;
   line-height: 34px;
    padding-right:20px ;  
    font-weight: 400;
    color: rgb(255, 255, 255);
   
}
.studio .about h2
{
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    flex-wrap: wrap;
    line-height: 40px;
    padding-right:20px ;  
   
}
.studio .about h4
{
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    flex-wrap: wrap;
    
    padding-right:20px ; 
    font-weight: 600;
}

.studio .picture .pic{
    z-index: 1;
    position: absolute;
    width: 400px;
    height: 160px;
    margin-top: 260px;
    margin-left: 40px;
    object-fit:contain;
    box-shadow: none;
}
.studio .picture2 .pic{
    z-index: 1;
    position: absolute;
    width: 400px;
    height: 160px;
    margin-top: 270px;
    margin-left: -860px;
    object-fit:contain;
   box-shadow: none;
    
    
}

.studio .picture img{
    width: 426px;
    height: 497px;
    
    object-fit: cover;
    margin-bottom: -38px;
    border-radius: 7px ;
    box-shadow: 4px 4px 5px #252525;
}
.studio .picture2 img{
    width: 426px;
    height: 497px;
   
    object-fit: cover;
    margin-bottom: -38px;
    border-radius: 7px ;
    box-shadow: 4px 4px 5px #252525;
    margin-left: 20px;

   

}
.studio .picture .btn1 {
  
    border: 1px solid rgb(173, 172, 172);
    color: rgb(182, 201, 236);
    padding: 15px 61px;
    font-size: 18px;
    border-bottom: none;
    border-left: none;
    
}
.studio .picture .btn1:hover{
    background-color: #363945;
    cursor: pointer;
    

}
.studio .picture .btn2:hover{
    background-color: #aa0947;
    cursor: pointer;

}
.studio .picture2 .btn-studio2:hover{
    background-color:rgb(45, 124, 45);
    cursor: pointer;
   

}
.studio .picture2 .btn-studio1:hover{
    background-color: #363945;
    cursor: pointer;

}
.studio .picture .btn2{
        border: 1px solid rgb(173, 172, 172);
        color: rgb(182, 201, 236);
        margin-left: -4px;
        font-size: 18px;
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding: 15px 66px;
       
    
}

.studio .picture2 .btn-studio1 {
    padding: 15px 61px;
    border: 1px solid rgb(173, 172, 172);
    color: rgb(182, 201, 236);
    margin-left: 20px;
    font-size: 18px;
    border-bottom: none;
    border-left: none;
    font-weight: bold;
}
.studio .picture2  .btn-studio2{
    
    border: 1px solid rgb(173, 172, 172);
    color: rgb(182, 201, 236);
    margin-left: -5px;
    font-size: 18px;
  
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 15px 63px;
   
}
/*section wistia proud*/

.proud{
    display: flex;
    justify-content: center;
}
.proud figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:bold;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}
.proud img{
    padding-top: 20px;
    width: 150px;
    height: 50px;
    padding-bottom: 60px;
    padding-left: 41px;
}
/*section see more wistia*/

.about-wistia{
    display: flex;
    justify-content: center;
    padding-bottom: 274px;
}
.about-wistia-title{
    display: flex;
   justify-content: center;
   font-size: 24px;
   font-weight: 700px;
   font-size: 15px;
   font-weight: bold;
   font-family: 'Quicksand', sans-serif;
   color: rgb(42, 45, 53);
}
.about-wistia .hubspot{
width: 400px;

 }
 .about-wistia .hubspot .color-blue{
    width: 344px;
    height: 246px;
    margin-top: -429px;
    margin-left: 0px;
    background-color: #3C8FCB;
    z-index: 1;
    position: relative;
    opacity: 0;
  
  
 } 
 
 .about-wistia .hubspot .color-blue:hover{

   
     background-color: #3C8FCB;

    opacity: 0.9;
    cursor: pointer;
  
 } 
 

.about-wistia .hubspot h3{

    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgb(42, 45, 53);
}
.about-wistia .hubspot p{
   
    font-family: 'Quicksand', sans-serif;    font-size: 20px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(42, 45, 53);

}
.about-wistia .hubspot img{
    width: 344px;
    height: 246px;
 }

.about-wistia  .hubspot a{
    font-size: 16px;
    font-weight: 400;
    padding-left: -3px;
    color: rgb(55, 105, 204);
}
.about-wistia  .hubspot a:link{
    color:rgb(55, 105, 204) ;
}
.about-wistia  .hubspot a:visited{
    color:rgb(55, 105, 204) ;
}
.about-wistia  .hubspot a:active{
    color:rgb(55, 105, 204) ;
}


.about-wistia .wistia-founder{
    width: 400px;
  
    margin-left: 20px;
}
.about-wistia .wistia-founder p{
    font-family: 'Quicksand', sans-serif;    font-size: 20px;
    font-size: 16px;
    flex-wrap: wrap;
    padding-left: 19px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(42, 45, 53);
}
.about-wistia .wistia-founder h3{
    padding-left: 19px;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgb(42, 45, 53);
}
.about-wistia .wistia-founder .color-vert{
    width: 344px;
    height: 246px;
    margin-top: -429px;
    margin-left: 19px;
    background-color: #489F83;
    z-index: 1;
    position: relative;
    opacity: 0;
  
 } 
 
 .about-wistia .wistia-founder .color-vert:hover{

   
     background-color: #489F83;

    opacity: 0.8;
    cursor: pointer;  
 } 
.about-wistia .wistia-founder a{
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
    color: rgb(55, 105, 204);
}
.about-wistia .wistia-founder a:link{
    color:rgb(55, 105, 204) ;
}
.about-wistia .wistia-founder a:visited{
    color:rgb(55, 105, 204) ;
}
.about-wistia .wistia-founder a:active{
    color:rgb(55, 105, 204) ;
}


.about-wistia .wistia-live h3{
    font-family: 'Libre Baskerville', serif;
   margin-left: 38px;
   font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgb(42, 45, 53);

}
.about-wistia .wistia-live{
    width: 400px;
    margin-left: 20px;
}

 .about-wistia .wistia-founder img{
    margin-left: 19px;
    width: 344px;
    height: 246px;
  
 }
 .about-wistia .wistia-live img{
    padding-left: 38px;
    width: 344px;
    height: 246px;
  
 }
 .about-wistia .wistia-live p{
    font-family: 'Quicksand', sans-serif;    font-size: 20px;
    font-size: 16px;
    flex-wrap: wrap;
    padding-left: 38px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(42, 45, 53);
   

}
.about-wistia .wistia-live .color-pink{
    width: 344px;
    height: 246px;
    margin-top: -429px;
    margin-left: 38px;
    background-color: #B88E99;
    z-index: 1;
    position: relative;
    opacity: 0;
  
 } 
 
 .about-wistia .wistia-live .color-pink:hover{

   
     background-color: #B88E99;

    opacity: 0.8;
    cursor: pointer;  
 } 
.about-wistia .wistia-live a{
    font-size: 16px;
    font-weight: 400;
    padding-left: 38px;
    color: rgb(55, 105, 204);
}
.about-wistia .wistia-live a:link{
    color:rgb(55, 105, 204) ;
}
.about-wistia .wistia-live a:visited{
    color:rgb(55, 105, 204) ;
}
.about-wistia .wistia-live a:active{
    color:rgb(55, 105, 204) ;
}


/*busniss wistia*/

.business{
    display: flex;
    justify-content: center;
    background-image:url(https://wistia.com/static/images/homepage/wistia-home-pattern_header@2x.webp);
    color: rgb(255, 255, 255);
    padding-top: 345px;
    padding-bottom: 100px;
    background-size: 150px 130px;
    height: 690px;
}

.business .brand-affinity h1{
 width: 700px;
flex-wrap: wrap;
font-size: 40px;
margin-left: 6px;
text-align: center;
margin-bottom: 100px;
line-height:80px;

}
.business .brand-affinity .btn-free
{    
        border: 1px solid #DB2861;
        background-color:#DB2861 ;
        color: rgb(255, 255, 255);
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left:50px ;
        padding-right:50px ;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 137px;
            
}
    
.business .brand-affinity .btn-free:hover{
        position: relative;
        bottom: 5px;
        border-bottom: 5px solid rgb(250, 69, 123);
        cursor: pointer;
    
}
.business .brand-affinity .btn-explore
{    
        border: 1px solid  white;
        background-color:white ;
        color: rgb(19, 18, 18);
        padding: 25px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 50px;
            
}
    
.business .brand-affinity .btn-explore:hover{
        position: relative;
        bottom: 5px;
        border-bottom: 5px solid rgb(211, 208, 208);
        cursor: pointer;
    
}

/*footer section*/

.my-footer{
    display: flex;
    justify-content: space-around;
    background-color:#2A2D35;
    height: 440px;
   
    padding-top: 93px;
    
 
    color: rgb(255, 255, 255);
}
 
.my-footer .my-list ul{
    list-style-type: none;
    display: inline-flex;
   
}

.my-footer .my-list ul li a
{
font-family: 'Roboto', sans-serif;
text-decoration: none;
font-size: 18px;



}
.my-footer .my-list{
    width: 401px;
 
}

.my-footer .my-list img
{
    width: 197px;
    height: 48px;
  
}
.my-footer .my-list p
{
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
   
    font-size: 23px;
    font-weight: 400;
    line-height: 50px;
   
    color: rgb(255, 255, 255);
     
}
.my-footer .my-list ul li a:link{
    color: rgb(58, 177, 106);
    
    
}
.my-footer .my-list ul li a:hover{
    color:rgb(58, 177, 106);
    text-decoration: underline;
    cursor: pointer;
    
}
.my-footer .my-list ul li a:active{
    color:rgb(58, 177, 106);
    text-decoration: underline;
}
.my-footer .my-list ul li a:visited{
    color:rgb(58, 177, 106);
    text-decoration: underline;
    
}
.my-footer .line{
    border-left: 1.5px solid rgb(69, 70, 69);
    height: 130px;
    padding-top:150px;
  
   
}
.my-footer .product ul{
    padding-bottom:10px ;
    line-height: 35px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.my-footer .product ul :visited{
    color: white;
    text-decoration: none;
}
.my-footer .product ul :link{
    color: white;
    text-decoration: none;
}
.my-footer .product ul :active{
    color: white;
    text-decoration: none;
}
.my-footer .product .pro{
    color: rgb(146, 143, 143);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.my-footer .series .pro{
    color: rgb(146, 143, 143);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.my-footer .about .pro{
    color: rgb(146, 143, 143);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.my-footer .support .pro{
    color: rgb(146, 143, 143);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.my-footer .series ul{
    padding-bottom:10px ;
    line-height: 35px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.my-footer .series ul :visited{
    color: white;
    text-decoration: none;
}
.my-footer .series ul :link{
    color: white;
    text-decoration: none;
}
.my-footer .series ul :active{
    color: white;
    text-decoration: none;
}

.my-footer .about ul{
    padding-bottom:10px ;
    line-height: 35px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}.my-footer .about ul :visited{
    color: white;
    text-decoration: none;
}
.my-footer .about ul :link{
    color: white;
    text-decoration: none;
}
.my-footer .about ul :active{
    color: white;
    text-decoration: none;
}
.my-footer .support ul{
    padding-bottom:10px ;
    line-height: 35px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.my-footer .support ul :visited{
    color: white;
    text-decoration: none;
}
.my-footer .support ul :link{
    color: white;
    text-decoration: none;
}
.my-footer .support ul :active{
    color: white;
    text-decoration: none;
}

/*copyright footer*/

.copyright-footer{
    display: flex;
    justify-content: center;
    background-color:#2A2D35;
    color: rgb(178, 185, 193);
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400px;
    
}
.copyright-footer a:link{
    color: rgb(178, 185, 193);
    text-decoration: underline;
}
.copyright-footer a:visited{
    color: rgb(178, 185, 193);
    text-decoration: underline;
}
.copyright-footer a:hover{
    color: rgb(45, 124, 45);
    text-decoration: underline;
    cursor: pointer;

}



